<h1 class="mb-3">관리자 메뉴</h1>
<div class="list-group">
  <a href="/admin/users" class="list-group-item list-group-item-action">사용자 관리</a>
  <a href="/admin/permissions" class="list-group-item list-group-item-action">접근 권한 설정</a>
  <a href="/admin/banner" class="list-group-item list-group-item-action">베너 이미지 관리</a>
  <a href="/admin/logo" class="list-group-item list-group-item-action">브랜드 로고 관리</a>
</div>
