<<<<<<< HEAD
<li class="nav-item">
    <a class="nav-link text-danger" href="/logout">🚪 로그아웃</a>
  </li>
=======
<li class="nav-item">
    <a class="nav-link text-danger" href="/logout">🚪 로그아웃</a>
  </li>
>>>>>>> e64b824c86d54036124f4af898c95dcecdd5cd57
  