<<<<<<< HEAD
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>시간</title>
</head>
<body>
  <h1>현재 시간:</h1>
  <p><%= data.toLocaleString() %></p>
</body>
=======
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>시간</title>
</head>
<body>
  <h1>현재 시간:</h1>
  <p><%= data.toLocaleString() %></p>
</body>
>>>>>>> e64b824c86d54036124f4af898c95dcecdd5cd57
</html>