.stock-actions .form-control {
  height: calc(1.5em + 0.75rem + 2px);
}

.stock-actions .btn,
.stock-search .btn {
  white-space: nowrap;
  width: auto;
}

.stock-table {
  width: 100%;
  table-layout: fixed;
}

.stock-table th {
  background-color: #f0f2f5;
}

.stock-table tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

.stock-table tbody tr:hover {
  background-color: #eaeaea;
}

.stock-table th[role='button'] {
  cursor: pointer;
}

.stock-table tbody tr.table-danger {
  background-color: #ffecec;
}

.table-container {
  overflow-x: auto;
}
